@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

*{
    box-sizing: border-box;
    font-family: Nunito;
}

body{
    font-family: Nunito;
}

/* Start Navigation Bar */
.main-header-media1200{
    display:none;
}

.main-header{
    background-color: white;
    padding-top: 5px;
    padding-bottom: 80px;
    z-index: 3;
}

.checkbtn{
    font-size: 30px;
    color: black;
    float: left;
    line-height: 60px;
    margin-left: 40px;
    cursor: pointer;
    display: block;
}

#check{
    display: none;
}

.business-name a{ 
    float: right;
    margin-right: 40px;
    font-size: 40px;
    color: black;
    font-family: Playfair Display;
}

.nav ul li a{
    font-size: 20px;
}

.nav ul li{
    display: block;
    padding-top: 50px;
    padding-right: 32px;
    line-height: 12%;
}

.nav ul{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:white;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 5;
}

.nav a{
    color: black;
    text-decoration: none;
}

.main-nav .active{
    color: #FF7380FF;
    border-bottom: 2px solid currentColor;
}

#check:checked ~ ul{
    left:0%;
}
/* End Navigation Bar */


/* Start User Profile Subtitle*/
.form-name-container{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

.subtitle{
    display: inline;
    margin: auto;
}

.subtitle hr{
    border-width: 3px;
    color: black;
    width: 400px;
}

.subtitle span{
    text-align: center;
    color: black;
    font-size: 40px;
    letter-spacing: 2.2pt;
}
/* End User Profile Subtitle*/


/*Start Login & Registration Panel*/
.login-page {
    width: 100%;
    padding: 10px 0;
    margin: auto;
    z-index: 1;
}

.login-header h3{
    font-size: 30px;
}

.login-header p{
    font-size: 20px;
}

.login-page .form .login{
    margin-top: -31px;
    margin-bottom: 26px;
}

.login-form span{
    font-size: 15px;
    color: red;
}

.form {
    position: relative;
    max-width: 500px;
    margin: 0 auto 100px;
    padding: 25px;
    text-align: center;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 20px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color:#FFA5A5FF;
    background-image: linear-gradient(45deg,rgb(252, 243, 243),#FFA5A5FF);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 20px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 20px;
}

.form .message a {
    color: #FFA5A5FF;
    text-decoration: none;
}

.form .or-message{
    font-size: 20px;
}

.social-login{
    padding-top: 5px;
}

.social-login .login-text{
    color:  #FFA5A5FF;
    font-size: 20px;
}

.social-login i{
    padding-left: 30px;
    font-size: 30px;
}
/*End Login & Registration Panel*/


/* Start Bottom Navbar */
.bottom-nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    background-color:white;
    display: flex;
    overflow-x: auto;
    z-index: 5;
}

.bottom-nav-link{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow:1;
    min-width:50px;
    overflow:hidden;
    white-space: nowrap;
    font-size: 18px;
    color: black;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.bottom-nav-active{
    color: #FF7380FF;
}

.bottom-nav-icon{
    font-size: 18px;
}
/* End Bottom Navbar */


/*---------------------------------------------------------------------------------------------*/
/*START MEDIA QUERY FOR LOGIN.HTML*/
/*---------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 1200px){

    .main-header{
        display:none;
    }

    /*Start Navigation Bar*/
    .main-header-media1200{
        display: contents;
    }

    .main-nav-media1200{
        text-align: center;
        font-size: 1.1em;
    }

    .main-nav-media1200 ul{
        margin: 0;
        padding-bottom: 40px;
        padding-top: 1em;
    }

    .main-nav-media1200 li{
        display: inline;
    }

    .main-nav-media1200 a{
        display: inline-block; /*makes space on top of inline elements - the nav*/
        padding-left: .4em;/*only makes space to left and right but not top since elements are inline*/
        padding-right: .4em;/*only makes space to left and right but not top since elements are inline*/
        color: black;
        text-decoration: none;
    }

    .main-nav-media1200 a:hover{
        color: #FFA5A5FF;
    }

    .main-nav-media1200 .active{
        color: #FFA5A5FF;
        border-bottom: 2px solid currentColor;
    }

    .main-nav-media1200 li{
        padding: 0 2%;
    }

    .business-name-media1200 a{
        float: left;
        margin: 0;
        margin-top: -10px;
        font-size: 60px;
        color: black;
        font-family: Playfair Display;
        font-weight: 100; 
    }

    .business-name-media1200 a:hover{
        color:#9DDFD3FF;
    }

    .nav-media1200 .user-button{
        font-size: 28px;
    }
    /*End Navigation Bar*/

    /*Start Background Image For Login Page*/
    .bg-image-container .bg-image{
        background-image: url("./Assets/images/6.login/Dessert.jpg");
        filter: blur(8px);
        padding-bottom: 63%;
        -webkit-filter: blur(4px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    /*End Background Image For Login Page*/

    /*Start Background Image For Registration Page*/
    .bg-image-container .bg-image-join{
        background-image: url("./Assets/images/6.login/Eclair.jpg");
        filter: blur(8px);
        padding-bottom: 70%;
        -webkit-filter: blur(4px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    /*End Background Image For Registration Page*/


    /*Start Login Panel*/
    .login-page {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -30%);
        width: 360px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: auto;
        z-index: 5;
    }

    .login-page .form .login{
        margin-top: -31px;
        margin-bottom: 26px;
    }

    .form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

    .form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background-color:#FFA5A5FF;
        background-image: linear-gradient(45deg,rgb(252, 211, 211),#FFA5A5FF);
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }

    .form .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 15px;
    }

    .form .message a {
        color: #FFA5A5FF;
        text-decoration: none;
    }

    .social-login{
        padding-top: 5px;
    }
    
    .social-login .login-text{
        color:  #FFA5A5FF;
        font-size: 20px;
    }
    
    .social-login i{
        padding-left: 30px;
        font-size: 20px;
    }
    
    .social-login i:hover{
        color: #FFA5A5FF;
    }
    /*End Login Panel*/


    /* Start Bottom Navbar */
    .bottom-nav{
        display: none;
    }
    /* End Bottom Navbar */
}
/*---------------------------------------------------------------------------------------------*/
/*END MEDIA QUERY FOR LOGIN.HTML*/
/*---------------------------------------------------------------------------------------------*/