/* Start Special Offer */
.offer__section{
    z-index: 1;
    margin-bottom: 2rem;
    border: 5px solid black;
}

.offer__bg {
    background-image: url("Assets/images/products/cupcake_bg2_cropped.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    text-align: center;
}

.offer__data{
    padding: 2rem .25rem;
    background: rgba(0,0,0,.25);
    color: white;
}

.subtitle h2{
    color: white;
}

.offer__description{
    margin-bottom: 1rem;
    letter-spacing: .2rem;
}

.offer__top {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}


/*========== BUTTONS ========== */
.button{
    display: inline-block;
    background-color:#FF7380FF !important;
    color: white !important;
    padding: 1rem ;
    font-size: .75rem;;
    font-weight: 600 !important;
    transition: .3s !important;
    text-decoration: none !important;
    border: none !important;

}

.button:hover{
    background-color: black !important;
    color: white !important;
  
}

.button__round {
    border-radius: 25px;
}
.continue-shop{
    display: inline-block;
    color: grey !important;
    padding: .8rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: .75rem;
    transition: .3s !important;
    text-decoration: none !important;
    border: 1px solid grey !important;
    border-radius: 25px;
    text-transform: uppercase;
}


.continue-shop:hover{
    background-color: black !important;
    color: white !important;
  
}

.continue-shop-div{
    margin-top: 1rem !important;
    margin-left: .1rem !important;
    max-width: 10%;
    border-radius: 25px;
}
/* End Special Offer */

/*========== MEDIA QUERIES BY SANJANA ========== */
@media screen and (min-width: 1200px){
    
    .offer__data{
        padding-left: 0;
        padding-right: 0;
        padding-top: 3rem;
        padding-bottom: 14rem;
    }

}
