/* ========== GOOGLE FONTS =========== */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
/*___________________________________________________________________________*/
*{
    box-sizing: border-box;
    font-family: Nunito;
}

html, body{
    margin: 0;
    padding: 0;
    background-color:white;
    scroll-behavior: smooth;
}

.subtitle h2{
    text-align: center;
    color: #FF7380FF;
    font-size: 40px;
    letter-spacing: 2.2pt;
}

.push-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.push-button button{
    font-size: 15pt;
    font-weight: bold;
    line-height: 24pt;
    padding: 10px 20px;
    width: 100%;
    margin-top: 23px;
    border: none;
    background: #FF7380FF;
    color: white;
    letter-spacing: 2px;
    transition: 0.2s all ease-in-out;
    border-bottom: 2px solid transparent;
    outline: none;
}

/* ========== Start Navigation Bar =========== */
.main-header-media1200{
    display:none;
}

.main-header{
    background-color: white;
    padding-top: 5px;
    padding-bottom: 80px;
}

.checkbtn{
    font-size: 30px;
    color: black;
    float: left;
    line-height: 60px;
    margin-left: 40px;
    cursor: pointer;
    display: block;
}

#check{
    display: none;
}

.business-name a{ 
    float: right;
    margin-right: 40px;
    font-size: 40px;
    color: black;
    font-family: Playfair Display;
}

.nav ul li a{
    font-size: 20px;
}

.nav ul li{
    display: block;
    padding-top: 50px;
    padding-right: 32px;
    line-height: 12%;
}

.nav ul{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:white;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 5;
}

.nav a{
    color: black;
    text-decoration: none;
}

.main-nav .active{
    text-decoration: blink;
    color: #FF7380FF;
    border-bottom: 2px solid currentColor;
}

#check:checked ~ ul{
    left:0%;
}
/* ========== End Navigation Bar ========== */


/* ========== Start Wave Image ========== */
.wave-image-group img{
    position: relative;
    top: 40px;
    max-width:100%;
    margin:10;
    z-index:3;
    
}
.hide-wave{
    display: block;
}


.wave-image-group .wave-image{
    margin-bottom: -10px;
    margin-top: 10px;
    vertical-align: bottom;
}

.wave-image-group .wave-image-flip{
    margin-bottom: -40px;
    margin-top: 10px !important;
    vertical-align: top;
}

/*========== End Wave Image ========== */
/*___________________________________________________________________________*/

/* ========== VARIABLES CSS =========== */

:root{
    --header-height: 3rem;
    --font-semi: 600;
    --font-bold: 700;
}

/* ========== IMAGES USED IN CSS =========== */

:root{
    --offer-1: url("Assets/images/products/cupcake_bg2_cropped.jpg");
    --offer-2: url("Assets/images/products/christmas_2.jpg");
}

/* ========== COLOURS =========== */

:root {
    --first-color: #FF7380FF;
    --first-color-alt: #FFA5A5FF;
    --white-color: white;
    --baby-pink-color: #ffd7d7;
    --yellow-color: #ffe547;
    --dark-color: black;
    --dark-color-light: #2e2d2d;
    --grey-color: #d0d0d0;
}

/* ========== FONTS AND TYPOGRAPHY =========== */

:root {
    --body-font: 'Open Sans', sans-serif;
    --font-alt: Nunito;
    --big-font-size: 3rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .75rem;
    
}

@media screen and (min-width: 768px){

    :root {
        --big-font-size: 6rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --normal-font-size: 1rem;
        --small-font-size: .813rem;
    }

}

/* ========== MARGINS =========== */
:root {
    --mb-1: .5rem;
    --mb-half: .75rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
}

/* ========== Z-INDEX =========== */

:root{
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* ========== BASE =========== */

*, ::before, ::after{
    box-sizing:border-box;
}

body{
    /*margin: var(--header-height) 0 0 0;*/
    font-family: var(--font-alt);
    font-size: var(--normal-font-size);
    color: var(--dark-color);
    line-height: 1.6;
}

h1,h2,p{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

img{
    max-width: 100%;
    height: auto;
}

/* ========== CLASS CSS =========== */

.section{
    padding: 3rem 0;
}

.section-title{
    font-size: var(--h2-font-size);
    color: var(--dark-color);
    margin: var(--mb-4) 0 var(--mb-1);
    text-align: center;
}

.section-all{
    display: block;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi);
    color: var(--dark-color-light);
    text-align: center;
    margin-bottom: var(--mb-4);
    padding-bottom: 2rem;
}

.subtitle{
    font-size: 1rem;
    color: var(--dark-color);
    font-family: var(--body-font);
    
}

/*========== LAYOUT ========== */

.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 3rem);
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
}



/*========== NAV ========== */

.active {
    color: var(--first-color) !important;
    border-bottom: 2px solid currentColor !important;
}

.nav__cart{
    font-size: 1.68rem;
    margin: var(--mb-2) var(--mb-2) 0;
    position: relative;
}

.display_view{
    display: inline-flex;
    margin-top: .5rem;
}

.business-name{
    margin-left: 7rem;
    margin-top: var(--mb-half);
}

.details-header{

    box-shadow: 0 3px 8px 0 rgba(80, 80, 80, 0.05), 0 3px 8px 0 rgba(90, 90, 90, 0.03) ;

    
}

/*========== NAV CART ========== */
#cart__active {
    border-radius: 40px;
    border: 2px solid var(--first-color);
    padding: 10px;
    width: 50px;
    height: 50px;
    color: var(--first-color);
    
  }


  #cart__active:hover {
    border-radius: 25px;
    border: 2px solid var(--white-color);
    background-color: var(--first-color-alt);
    padding: 10px;
    width: 50px;
    height: 50px;
    color: var(--white-color);
    
  }

  .cart-number{
      font-size: 1rem !important;
      position: absolute !important;
      border-radius: 50% 50%;
      width: 2rem;
      height: 2rem;
      text-align: center;
      padding-top: .3rem;
      color: var(--white-color);
      background-color: var(--dark-color-light);
      top:1rem !important;
      right: 10rem;
      font-weight: 300;
      
  }

  .cart-number:hover{
    
    background-color: var(--first-color-alt);
    font-weight: 700;
  }

  
  .cart-number-mob{
    font-size: .6rem !important;
    position: absolute !important;
    border-radius: 50% 50%;
    width: 1rem;
    height: 1rem;
    text-align: center;
    padding-top: .15rem;
    color: var(--white-color);
    background-color: var(--dark-color-light);
    top:1.3rem !important;
    left: 6rem;
    font-weight: 300;
    
}
/*========== CART ========== */
.title-cart{
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-left: 1.9rem;
    border-bottom: 2px solid var(--dark-color-light);
    display: flex;
   
}
.title-cart h1{
    font-size: 2.1rem !important;
    font-weight: 300 !important;
    
}
.title-cart i{
    font-size: 2.2rem !important;
    font-weight: 300 !important;
    margin-bottom: 1rem !important;
    margin-top: .12rem !important;
    transition: .3s;
}

.title-cart i:hover{
    color: var(--first-color-alt);
    padding-left: 5rem;
}

.cart_img{
    grid-column: 1/2;
}

.cart_img img{
    max-width: 85% !important;
    
}
.cart_title_bar{
    border-bottom: 5px solid var(--first-color-alt);
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr;
    grid-template-rows: 10px;
    padding-bottom: 1.43rem;
    justify-content: center !important;
    align-items: center !important;
}
.cart-title-1{
    grid-row: 1/2;
    grid-column: 1/2;
}

.cart-title-2{
    grid-row: 1/2;
    grid-column: 2/3;
}

.cart-title-3{
    grid-row: 1/2;
    grid-column: 3/4;
}

.cart-title-4{
    grid-row: 1/2;
    grid-column: 4/5;
}

.cart-title-5{
    grid-row: 1/2;
    grid-column: 5/6;
}

.receipt-card{
    background-color: linen;
    border-left: 15px solid var(--first-color-alt);
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr;
    grid-template-rows: 20vh;
    justify-content: center !important;
    align-items: center !important;
    
}

.receipt-area{
    max-width: 25% !important;
    /* background-color: var(--baby-pink-color); */
    margin-right: 1.5rem !important ;
    margin-left: 1rem ;

    margin-top: 9.1rem !important;

    
}

.summary-area{
    border-bottom: 5px solid var(--first-color-alt);
    margin: 0 !important;
    padding-bottom: .35rem !important;
   
}


.subtotal-area, .delivery-area, .total-area{
   width: 100%;
}
/* 
.subtotal-area{
    background-color: red;
   
}


.subtotal-area h4, .delivery-area h4, .total-area h4{
   background-color: yellow;
}
.delivery-area{
    background-color:green;
}
*/
.total-area{
    /* background-color: blue; */
    border-top: 2px solid var(--first-color-alt) ;
} 
.receipt-data{
    margin: .5rem !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: linen;

}

.title-checkout{
    width: 100px;
}

.product-name, .quantity-value, .tot-price-per-item, .remove-button{
    padding: 1.5rem !important;
    grid-row: 1/2;
   
}

.quantity-value h6, .tot-price-per-item h6, .remove-button, .rem-but h6{
    text-align: center;
}

.product-name{
    grid-column: 2/3;
    
}
.product-name-det h6{
    text-align: left;
}
.product-name-det{
    padding-left: 3.8rem;
}

.quantity-value{
    grid-column: 3/4;
}
.tot-price-per-item{
    grid-column: 4/5;
}

.remove-button{
    grid-column: 5/6;
    
}
.remove-button a{
    text-align: center !important;
}
.rem-but{
  font-size: .5rem !important;
  
 
}
/*========== HOME ========== */



/*========== BUTTONS ========== */
.button{
    display: inline-block;
    background-color: var(--first-color) !important;
    color: var(--white-color) !important;
    padding: 1rem ;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi) !important;
    transition: .3s !important;
    text-decoration: none !important;
    border: none !important;

}

.button:hover{
    background-color: var(--dark-color) !important;
    color: var(--white-color) !important;
  
}

.button__round {
    border-radius: 25px;
}
.continue-shop{
    display: inline-block;
    /* background-color: rgba(148, 148, 148, 0.479) !important; */
    color: grey !important;
    padding: .8rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-family: var(--body-font);
    font-size: var(--small-font-size);
    /* font-weight: var(--font-semi) !important; */
    transition: .3s !important;
    text-decoration: none !important;
    border: 1px solid grey !important;
    border-radius: 25px;
    text-transform: uppercase;
}


.continue-shop:hover{
    background-color: var(--dark-color) !important;
    color: var(--white-color) !important;
  
}

.continue-shop-div{
    margin-top: 1rem !important;
    margin-left: .1rem !important;
    max-width: 10%;
    border-radius: 25px;
}

/*========== DROP DOWN BUTTONS ========== */

.dropbtn {
    background-color: var(--first-color) !important;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: white;
    cursor: pointer;
    border-radius: 25px 25px;
  }

  
  .dropdown {
    position: relative;
    display: inline-block;
    border: none !important;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: linen;
    /* background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%); */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 200;
    border-radius: 10px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: var(--first-color-alt);
    color: white;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: var(--first-color);
  }

 


/*========== EVENTS ========== */

.avoid__clicks{
    pointer-events: none;
}

.hide{
    display: none;
}

/*========== FEATURED PRODUCTS ========== */

.featured__container{
    /* padding: 1rem;
    border-radius: 20px; */
    grid-row-gap: 2rem;
    /* background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%); */
}

.featured__products{
    transition: .3s;
    border-radius: 10px 10px 10px 10px;
    
}

.featured__products:hover{
    transform: translateY(-.5rem);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.089), 0 6px 20px 0 rgba(0, 0, 0, 0.089);
}

.featured__box{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: var(--baby-pink-color);
}

.featured__new{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: .3rem .75rem;
    font-size: var(--small-font-size);
}


.featured__new_cart {
    position: absolute;
    top: 30px;
    left: 0;
    /*background-color: var(--first-color);*/
    color: var(--grey-color);
    /*padding: .3rem .75rem;*/
    font-size: 2rem;
    transition: .4s;
    
}

.featured__new_cart:hover{
    color: var(--first-color);
    
}


.featured__new_cart:active{
    
    border-radius: 50% 50%;
    margin: 5rem;
    color: none;
    font-size: .1rem;
    color: var(--first-color);
    
    
}

.featured__data{
    text-align: center;
}

.featured__name{
    
    text-transform: uppercase;
    font-size: var(--normal-font-size);
    font-family: var(--font-alt);
    
}

.featured__price{
    color: var(--dark-color-light);
    font-family: 'Old Standard TT', serif;
    font-weight: 2.5rem !important;
    font-size: 1.5rem;
    
}
    
.section-all{
    text-decoration: none;
}

/*========== PRODUCTS ========== */
.product__name{
    color: var(--dark-color-light);
    font-weight: var(--font-semi);
    /* margin-bottom: var(--mb-4); */
    text-transform: uppercase;
    font-size: var(--normal-font-size);
    font-family: var(--font-alt);
}
.product__name:hover{
    color: var(--first-color-alt);
    font-weight:var(--font-bold);
}

/*========== PRODUCTS DETAILS ========== */

/*========== INPUT  ========== */
.input-quantity{
    border:none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    font-family: Nunito;
    font-weight: var(--font-bold);
    color: var(--dark-color-light);
    background-color: var(--white-color);
    transition: background-color .3s;
    
}

.input-quantity:hover, .input-quantity:focus {
    background-color: var(--first-color-alt);
    color: var(--white-color);
}


.input-quantity2{
    border:none;
    outline: none;
    /* padding-top: .5rem !important; */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    font-family: Nunito;
    font-weight: var(--font-bold);
    color: var(--dark-color-light);
    background-color: var(--white-color);
    transition: background-color .3s;
    font-size: 1rem !important;
    margin-top: .1rem !important;
    margin-bottom: .1rem !important;
    
}

.input-quantity2:hover, .input-quantity2:focus {
    background-color: var(--first-color-alt);
    color: var(--white-color);
}

.nice-number button{
    background: var(--first-color);
    color: var(--white-color);
    border: none;
    outline: none;
    border-radius: 5px;
    font-family: Nunito;
    font-weight: var(--font-bold);
    padding:.72rem;
    font-size: var(--h2-font-size);
    transition: .3s;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);

}
.nice-number button:hover, .nice-number button:focus{
    background: var(--dark-color);
    
}

/*========== CATEGORY ========== */
.category-title{
padding: .8rem;
margin-bottom: 3rem !important;
margin-left: 10rem !important;
margin-right: 10rem !important;
background-color: linen ;
border-left: 15px solid var(--first-color-alt);
display: flex;
/* border-bottom: 5px solid var(--first-color-alt); */
}
.category{
    padding-left: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 0rem;
}

.category-name{
    padding-left: 1rem;
    text-transform: uppercase;
    margin-bottom: 0rem;
}

#cat-but{
    padding: .8rem !important;
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
    outline: none; 
    text-transform:uppercase;
    font-weight:100 !important;
    font-size: 1rem !important;
    background-color: rgba(0, 0, 0, 0) !important;
    color: var(--dark-color-light) !important;
    border: 1px solid var(--dark-color-light) !important;
    transition: .3s;
    margin-top: .5rem !important;
    
}

#cat-but:hover{
    color: white !important;
    background-color: var(--first-color) !important;
    border: 1px solid linen !important;
}

/*========== OFFER ========== */

.offer__bg {
    background-image: var(--offer-1);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    text-align: center;
}

.offer__bg2 {
    background-image: var(--offer-2);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    text-align: center;
}

.offer__data{
    padding: 3.5rem .25rem;
    background: rgba(0,0,0,.25);
    color: var(--white-color);
}

.offer__title{
    font-size: var(--h1-font-size);
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-weight: var(--font-semi);
}

.offer__description{
    margin-bottom: var(--mb-2);
    letter-spacing: .2rem;
}

.offer__top {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  /*  mask-image: linear-gradient(to bottom, transparent 10%, black);*/
}



/*========== NEW PRODUCTS ========== */

.new__container{
    row-gap: 2rem;
}

.new__box {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: var(--grey-color);
    overflow: hidden;
    
    
}

.new__box:hover .new__link{
    bottom: 0;
}

.new__link{
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.52);
    transition: .3s;
}


/*========== PRODUCT DETAILS ========== */


.product-image{
  background-color: linen;
  border-bottom: 15px solid var(--first-color-alt);
  border-top: 15px solid var(--first-color-alt);

} 

.product-details-area{
    
    background-color: blue;
}


.description{
    background-color: none;
    
    border-bottom: 2px solid var(--first-color);
    
}
.para_details{
    
    background-color: linen;
    border-left: 15px solid var(--first-color-alt);
}

.comment-section{
   
    background-color: linen;
}

/*========== NEWSLETTER ========== */
.newsletter-section .input-error{
    font-size: 13pt;
    color: red;
}

.newsletter-section .send-input-message{
    font-size: 13pt;
    color: green;
}

.newsletter{
    text-align: center;
    padding-bottom: 45px;
    padding-left: 20px; 
    padding-right: 20px; 
}

.newsletter__description{
    margin-bottom: 1rem;
    font-size: 20px;
    color:black;
}

.newsletter__form{
    display: grid;
    grid-template-columns: 1fr .5fr;
}

.newsletter__input{
    border-radius: 25px;
    outline: none;
    border: none;
    color: black;
    background-color: #dadada;
    padding: 0 1rem;
}

.newsletter__form ::placeholder{
    color: black;
    opacity: 0.6;
}

.subscribe-button{
    display: inline-block;
    border: none;
    background-color: #FF7380FF;
    color: white;
    padding: 1rem;
    font-size: 12pt;
    font-weight: 600;
    transition: .3s;
    text-decoration: none;
}

.subscribe-button:hover{
    background-color: black;
  
}

.subscribe-button {
    border-radius: 25px;
}
/*___________________________________________________________________________*/

/*========== START FOOTER ========== */
.footer{
    background-color: #FF7380FF;
    background-size: 100%;
    width: 100%;
    height: 580px;
    margin: 0;
    margin-top: 0;
    padding: 20px;
    text-align: center;
    color: white;
}

.logo-name{
    font-size: 70px;
    font-family: Playfair Display;
}

.footer-group .social-media{
    padding-top: 25px;
    padding-bottom: 15px;
}

.footer-group .social-media a{
    text-decoration: none;
    color: inherit;
}

.footer-group .social-media span{
    display: inline;
    letter-spacing: 8px;
    font-size: 40px;
}

.contact-links{
    font-size: 22px;
}

.contact-links span{
    display: block;
}

.contact-links .phone{
    padding: 25px 0;
}

.contact-links .address{
    padding-bottom: 25px;
}

.legal-links{
    font-size:20px;
    line-height: 35px;
}

.legal-links span{
    display: block;
    letter-spacing: 3px;
}

.legal-links a{
    text-decoration: none;
    color: inherit;
}

.copyright{
    padding-top: 25px;
}

.copyright span{
    font-size: 15px;
}
/* ========== End Footer ========== */


/*  ========== Start Bottom Navbar ========== */
.bottom-nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    background-color:white;
    display: flex;
    overflow-x: auto;
    z-index: 5;
}

.bottom-nav-link{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow:1;
    min-width:50px;
    overflow:hidden;
    white-space: nowrap;
    font-size: 18px;
    color: black;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.bottom-nav-active{
    color: #FF7380FF;
}

.bottom-nav-icon{
    font-size: 18px;
}
/*  ========== End Bottom Navbar ==========*/


/*---------------------------------------------------------------------------------------------*/
/*MEDIA QUERY for pc browser*/
/*---------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 1200px){

    .main-header{
        display:none;
    }

    /* ========== Start Navigation Bar ==========*/
    .main-header-media1200{
        display: contents;
    }

    .main-nav-media1200{
        text-align: center;
        font-size: 1.1em;
    }

    .main-nav-media1200 ul{
        margin: 0;
        padding-bottom: 40px;
        padding-top: 1em;
    }

    .main-nav-media1200 li{
        display: inline;
    }

    .main-nav-media1200 a{
        display: inline-block; /*makes space on top of inline elements - the nav*/
        padding-left: .4em;/*only makes space to left and right but not top since elements are inline*/
        padding-right: .4em;/*only makes space to left and right but not top since elements are inline*/
        color: black;
        text-decoration: none;
    }

    .main-nav-media1200 a:hover{
        color: #FFA5A5FF;
    }

    .main-nav-media1200 .active{
        text-decoration: blink;
        color: #FFA5A5FF;
        border-bottom: 2px solid currentColor;
    }

    .main-nav-media1200 li{
        padding: 0 2%;
    }

    .business-name-media1200 a{
        float: left;
        margin: 0;
        margin-top: 5px;
        font-size: 60px;
        color: black;
        font-family: Playfair Display;
        font-weight: 100; 
    }

    .nav-media1200 .logo-business-name:hover{
        color:#9DDFD3FF;
    }

    .nav-media1200 .user-button{
        font-size: 28px;
    }
    /* ========== End Navigation Bar ==========*/


    /*  ========== Start Bottom Navbar ========== */
    .bottom-nav{
        display: none;
    }
    /*  ========== End Bottom Navbar ==========*/

    /* Start Newsletter */
    .newsletter{

        padding-left: 400px; 
        padding-right: 400px; 
    }
    /* End Newsletter */


    /* Start Bottom Navbar */
    .bottom-nav{
        display: none;
    }
    /* End Bottom Navbar */
}

/*========== MEDIA QUERIES BY SANJANA ========== */
@media screen and (min-width: 768px){
    body{
        margin:0;
    }

    .section-all{
        margin-bottom: var(--mb-4);
    }

    .featured__container {
        grid-template-columns: repeat(4, 1fr);
        margin-left: auto;
        margin-right: auto;
    }


     
    .offer__data{
        padding: 5rem 0;
    }

    .new__container{
        grid-template-columns: repeat(3, 1fr);
        margin-left: auto;
        margin-right: auto;
        
    }

    .newsletter__form {
        width: 400px;
        margin: 0 auto;
    }

    .newsletter__container {
        margin-left: auto;
        margin-right: auto;
    }

   
}
/*========== REVERSE MEDIA QUERIES BY SANJANA ========== */
@media (max-width: 1200px) {
    .hide-wave {
      display: none
    }

        
    .cart_img img{
        width: 50px;
        padding: .3rem;
    }
    .cart_title_bar{
        border-bottom: 2px solid var(--first-color-alt);
    }
    .receipt-card{
        border-left: 5px solid var(--first-color-alt);
    }

    /* CART STUFFS */

        
    .receipt-card{
        background-color: linen;
        border-left: 15px solid var(--first-color-alt);
        display: grid;
        grid-template-columns: 1fr 1.7fr 1fr 1fr 1fr;
        grid-template-rows: 8vh;
        justify-content: center !important;
        align-items: center !important;
        
    }

    .receipt-area{
        max-width: 100% !important;
        /* background-color: var(--baby-pink-color); */
        margin-right: 1.5rem !important ;
        margin-left: 1rem ;

        margin-top: .3rem !important;

        
    }

    .summary-area{
        border-bottom: 5px solid var(--first-color-alt);
        margin: 0 !important;
        padding-top: .35rem !important;
    
    }


    .subtotal-area, .delivery-area, .total-area{
    width: 100%;
    }

    .subtotal-area h4, .delivery-area h4, .total-area h4{
        font-size: 10px;
    }
    /* 
    .subtotal-area{
        background-color: red;
    
    }


    .subtotal-area h4, .delivery-area h4, .total-area h4{
    background-color: yellow;
    }
    .delivery-area{
        background-color:green;
    }
    */
    .total-area{
        /* background-color: blue; */
        border-top: 2px solid var(--first-color-alt) ;
    } 
    .receipt-data{
        margin: .5rem !important;
        align-items: center !important;
        justify-content: center !important;
        background-color: linen;

    }

    .title-checkout{
        width: 100px;
    }

    .product-name, .quantity-value, .tot-price-per-item, .remove-button{
        padding: .3rem !important;
        grid-row: 1/2;
    
    }

    .quantity-value h6, .tot-price-per-item h6, .remove-button, .rem-but h6{
        text-align: center;
        font-size: 10px !important;
    }

    .product-name{
        grid-column: 2/3;
        
    }
    .product-name-det h6{
        text-align: left;
        font-size: 10px;
    }
    .product-name-det{
        padding-left: .1rem;
    }

    .quantity-value{
        grid-column: 3/4;
    }
    .tot-price-per-item{
        grid-column: 4/5;
    }

        
    .cart_img img{
        max-width: 100% !important;
        width: 65px;
        height: auto;
        
        
    }
    .remove-button{
        grid-column: 5/6;
        
    }
    .remove-button a{
        text-align: center !important;
    }
    .rem-but{
    font-size: .5rem !important;
    width: 2rem !important;
    height: 2rem !important;
    position: relative;
    }
    .rem-but-x{
        position: absolute;
        right: .3rem;
        bottom: .3rem;
    }
    /* div containing title and cart icon */
    .title-cart{
        margin-bottom: 0 !important;
        margin-top: 1rem !important;
        border-bottom: .5px solid var(--dark-color-light) !important;
    }

    /* my cart title */
    .title-cart h1{
    font-size: 1.2rem !important; 
    margin-bottom: 0px !important; 
    padding-top: 4px;
    }
    
    /* cart icon next to 'My Cart' */
    .title-cart i{
        font-size: 1.5rem !important;  
        }

}