@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Playfair+Display:wght@400;500&display=swap');

*{
    box-sizing: border-box;
    font-family: Nunito;
}

html, body{
    margin: 0;
    padding: 0;
    background-color: white;
}

/*Start Navigation Bar*/

.main-header{
    background-color: white;
    padding-top: 5px;
    padding-bottom: 80px;
}

.checkbtn{
    font-size: 30px;
    color: black;
    float: left;
    line-height: 60px;
    margin-left: 40px;
    cursor: pointer;
    display: block;
}

#check{
    display: none;
}

.business-name a{ 
    float: right;
    margin-right: 40px;
    font-size: 40px;
    color: black;
    font-family: Playfair Display;
}

.nav ul li a{
    font-size: 20px;
}

.nav ul li{
    display: block;
    padding-top: 50px;
    padding-right: 32px;
    line-height: 12px;
}

.nav ul{
    position: fixed;
    width: 100%;
    height: 60vh;
    background-color:white;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 5;
}

.nav a{
    color: black;
    text-decoration: none;
}

.main-nav ul a.active{
    color: #FFA5A5FF;
    border-bottom: 2px solid currentColor;
}

.main-nav ul a:hover{
    color: #FFA5A5FF;
}


#check:checked ~ ul{
    left:0%;
}

/*End Navigation Bar*/


/* Start Slideshow */

.slideshow img{
    width: 100%;
}

/* End Slideshow */

/* Start Our Baker*/

.our-baker{
    position:relative;
    
}

.baker-info{
    position:relative;
    padding: 28px 28px 40px 28px;
    color: white;
    z-index:2;
}

.our-baker h1{
    text-align: center;
    position:relative;
    padding: 20px;
    padding-top: 40px;
    color: white;
    font-size: 35px;
    z-index:2;
}

.baker-info p{
    font-size: 20px;
}

.baker-bg img {
    width: 100%;
    opacity: 70%;
    object-fit: cover;
    height:65em;
    filter: brightness(20%);
}

.baker-bg{
    position: absolute;
    top:0px;
    z-index:1;
}

.baker-profile{
    position: relative;
    width:100%;
    height:45vh;
    object-position: 100% 0%;
    object-fit: cover;
    z-index: 2;
}

.baker-profile-group{
    position: relative;
    background-color: white;
    padding: 0px 0px 10px 0px;
    background-size: contain;
    z-index: 2;
}

.baker-profile-group p{
    text-align: center;
}

.baker-profile-group .name{
    font-size: 20px;
}

.baker-profile-group .description{
    font-size: 20px;
}

.baker-profile-group .hierarchy{
    color: #FFA5A5FF;
}
/* End Our Baker*/