@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

*{
    box-sizing: border-box;
    font-family: Nunito;
}

html, body{
    margin: 0;
    padding: 0;
    background-color:white;
}

.subtitle h2{
    text-align: center;
    color: #FF7380FF;
    font-size: 35px;
    letter-spacing: 2.2pt;
}

.push-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.push-button button{
    font-size: 15pt;
    font-weight: bold;
    line-height: 24pt;
    padding: 10px 0;
    width: 80%;
    margin-top: 40px;
    border: none;
    background: #FF7380FF;
    color: white;
    letter-spacing: 2px;
    transition: 0.2s all ease-in-out;
    border-bottom: 2px solid transparent;
    outline: none;
}

/* Start Navigation Bar */
.main-header{
    background-color: white;
    padding-top: 5px;
    padding-bottom: 80px;
}

.checkbtn{
    font-size: 30px;
    color: black;
    float: left;
    line-height: 60px;
    margin-left: 40px;
    cursor: pointer;
    display: block;
}

#check{
    display: none;
}

.business-name a{ 
    float: right;
    margin-right: 40px;
    font-size: 40px;
    color: black;
    font-family: Playfair Display;
}

.nav ul li a{
    font-size: 20px;
}

.nav ul li{
    display: block;
    padding-top: 50px;
    padding-right: 32px;
    line-height: 12%;
}

.nav ul{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:white;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 5;
}

.nav a{
    color: black;
    text-decoration: none;
}

.main-nav ul a.active{
    color: #FF7380FF;
    border-bottom: 2px solid currentColor;
}

.main-nav ul a:hover{
    color: #FF7380FF;
}


#check:checked ~ ul{
    left:0%;
}
/* End Navigation Bar */


/* Start Slideshow */
.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: 0;
    z-index: 2;
}
  
.slideshow-container img{
    filter: brightness(50%);
    vertical-align: bottom;
    margin-bottom:-40px;
}

/* Hide the images by default */
.slideshow-container .mySlides{
    display: none;
    margin:0;
}
  
/* Position the "next button" to the right */
.slideshow-container .next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}
  
/* Caption text */
.slideshow-container .text{
    color: #f2f2f2;
    font-family: "Courgette";
    font-size: 2em;
    padding: 8px 12px;
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    z-index:3;
}
  
/* The dots/bullets/indicators */
.slideshow-container .dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.slideshow-container .active, .dot:hover{
    background-color: #717171;
}
  
/* Fading animation */
.slideshow-container .fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}
/* End Slideshow */

/* Start Wave Image */
.wave-image-group img{
    position:relative;
    max-width:100%;
    margin:0;
    z-index:3;
}

.wave-image-group .wave-image{
    margin-bottom: -10px;
    margin-top: -30px;
    vertical-align: bottom;
}

.wave-image-group .wave-image-flip{
    margin-bottom: -40px;
    margin-top: -10px;
    vertical-align: top;
}
/* End Wave Image */


/* Start How to Order*/
.how-to-order h2{
    padding-top: 40px;
    color:white;
    margin: 0px;
}

.how-to-order{
    position:relative;
    background-color: #23CFA7FF;
}

.row{
    text-align: center;
    font-size:80px;
    color:white;
    padding-bottom: 40px;
}

.row .column{
    display: block;
    padding-top: 30px;
    margin:0;
}

.row .column p{
    font-size: 25px;
    color:black;
    margin:0;
}
/* End How to Order*/


/* Start Product List*/
.all-cakes .subtitle h2{
    padding-top: 80px;
    color:#FFBB63FF;
}
.all-cakes{
    margin-top: -90px;
    margin-bottom: -30px;
    padding-bottom:40px;
    background-color: #F4F3EFFF;
}

.hot-cake-baseInfo{
    background-color: white;
    background-position: top right;
    background-size: 50%;
    background-repeat: no-repeat;
    border-radius: 30px 30px 0 0;
    width: 80%;
    height: 150px;
    margin: 10% 10% 0 10%;
    margin-bottom: 0;
    padding: 20px;
    box-shadow: 5px 10px 30px grey;
}

.hot-cake-baseInfo span{
    display: block;
    margin: 0;
}

.hot-cake-baseInfo .price{
    font-size: 35px;
}

.hot-cake-baseInfo .name{
    font-size: 20px;
}

.hot-cake-description{
    border-radius: 0 0 30px 30px;
    text-align: center;
    width: 80%;
    height: 40%;
    margin: 0% 10% 10% 10%;
    margin-bottom: 0;
    padding: 20px;
    box-shadow: 5px 10px 30px grey;
}

.hot-cake-description span{
    margin: 0;
}

.cake1 .hot-cake-description{
    background-color: #23CFA7FF;
}

.cake2 .hot-cake-description{
    background-color: #FFBB63FF;
}

.cake2 .hot-cake-description{
    background-color: #FF7380FF;
}

.cake3 .hot-cake-description{
    background-color: #59D4F0FF;
}

.cake4 .hot-cake-description{
    background-color: #9A70BFFF;
}

.push-button .view-all-cakes{
    background-color: #FFBB63FF;
}
/* End Product List*/


/* Start Our Baker */
.baker-info{
    padding: 28px 28px 40px 28px;
    color: white;
}

.our-baker h2{
    padding: 20px;
    padding-top: 40px;
    color: white;
}

.baker-info p{
    font-size: 20px;
}

.our-baker{
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Assets/images/1.index/CupcakePattern_Darken.jpg");
}
.baker-pic{
    background-image: url("./Assets/images/1.index/Baker.png");
    padding-bottom: 100%;
    background-size: cover;
}

.baker-pic img{
    width:100%;
    overflow: hidden;
    object-position: 100% 0%;
    object-fit: cover;
}

.baker-profile-group{
    background-color: white;
    padding: 0px 0px 10px 0px;
    background-size: contain;
}

.baker-profile-group p{
    text-align: center;
}

.baker-profile-group .name{
    font-size: 20px;
}

.baker-profile-group .description{
    font-size: 20px;
}

.baker-profile-group .hierarchy{
    color: #FF7380FF;
}
/* End Our Baker */


/* Start Locate Us */
.google-map{
    vertical-align: bottom;
    margin-bottom: -7px;
}

.map .subtitle h2{
    color: #23CFA7FF;
}
/* End Locate Us */


/* Start Contact Us Form */
.contact-section h2{
    padding-top: 28px;
    margin:0;
    color: white;
}

.contact-section .subtitle{
    text-align: center;
    justify-content: center;
}

.contact-section .subtitle p{
    font-size: 14pt;
}

.contact-us{
    background: #59D4F0FF;
    padding: 0px 40px;
    padding-bottom: 80px;
    /* border-top: 10px solid #23CFA7FF; */
}

.contact-section label, input, textarea {
    display: block;
    width: 100%;
    font-size: 12pt;
    line-height: 24pt;
}
 
.contact-section input {
    margin-bottom: 24pt;
}
  
.contact-section h3 {
    font-weight: normal;
    font-size: 10pt;
    line-height: 24pt;
    font-style: italic;
    margin: 0 0 0.5em 0;
}
  
.contact-section span {
    font-size: 8pt;
}
  
.contact-section em {
    color: #FF7380FF;
    font-weight: bold;
}
  
.contact-section input, textarea {
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background: white;
    padding-left: 5px;
    outline: none;
}
  
.contact-section input:focus, textarea:focus {
    border: 1px solid #FF7380FF;
}
  
.contact-section textarea {
    resize: none;
}

.submit-button{
    padding-top: 20px;
}

.contact-section button:hover {
    color: white;
    border-bottom: 2px solid white;
}
/* End Contact Us Form */


/* Start Footer */
.wave-image-group .footer-wave{
    margin-bottom: -10px;
    margin-top: -50px;
}

.footer{
    background-color: #FF7380FF;
    background-size: 100%;
    width: 100%;
    height: 580px;
    margin: 0;
    margin-top: 0;
    padding: 20px;
    text-align: center;
    color: white;
}

.logo-name{
    font-size: 70px;
    font-family: Playfair Display;
}

.social-media{
    padding-top: 25px;
    padding-bottom: 15px;
}

.social-media a{
    text-decoration: none;
    color: inherit;
}

.social-media span{
    display: inline;
    letter-spacing: 8px;
    font-size: 40px;
}

.contact-links{
    font-size: 22px;
}

.contact-links span{
    display: block;
}

.contact-links .phone{
    padding: 25px 0;
}

.contact-links .address{
    padding-bottom: 25px;
}

.legal-links{
    font-size:20px;
    line-height: 35px;
}

.legal-links span{
    display: block;
    letter-spacing: 3px;
}

.legal-links a{
    text-decoration: none;
    color: inherit;
}

.copyright{
    padding-top: 25px;
}

.copyright span{
    font-size: 15px;
}
/* End Footer */


/* Start Bottom Navbar */
.bottom-nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    background-color:white;
    display: flex;
    overflow-x: auto;
    z-index: 5;
}

.bottom-nav-link{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow:1;
    min-width:50px;
    overflow:hidden;
    white-space: nowrap;
    font-size: 18px;
    color: black;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.bottom-nav-active{
    color: #FF7380FF;
}

.bottom-nav-icon{
    font-size: 18px;
}
/* End Bottom Navbar */