@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

*{
    box-sizing: border-box;
    font-family: Nunito;
}

html, body{
    margin: 0;
    padding: 0;
    background-color:white;
}

.subtitle h2{
    text-align: center;
    color: #FF7380FF;
    font-size: 35px;
}

/* Start Navigation Bar */
.main-header{
    background-color: white;
    padding-top: 5px;
    padding-bottom: 80px;
}

.checkbtn{
    font-size: 30px;
    color: black;
    float: left;
    line-height: 60px;
    margin-left: 40px;
    cursor: pointer;
    display: block;
}

#check{
    display: none;
}

.business-name a{ 
    float: right;
    margin-right: 40px;
    font-size: 40px;
    color: black;
    font-family: Playfair Display;
}

.nav ul li a{
    font-size: 20px;
}

.nav ul li{
    display: block;
    padding-top: 50px;
    padding-right: 32px;
    line-height: 12%;
}

.nav ul{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:white;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 5;
}

.nav a{
    color: black;
    text-decoration: none;
}

.main-nav ul a.active{
    color: #FF7380FF;
    border-bottom: 2px solid currentColor;
}

.main-nav ul a:hover{
    color: #FF7380FF;
}


#check:checked ~ ul{
    left:0%;
}
/* End Navigation Bar */


/* Start Slideshow */
.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: 0;
    z-index: 2;
}
  
.slideshow-container img{
    filter: brightness(50%);
    vertical-align: bottom;
    margin-bottom:-40px;
}

/* Hide the images by default */
.slideshow-container .mySlides{
    display: none;
    margin:0;
}
  
/* Next & previous buttons */
/* .slideshow-container .prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
} */
  
  /* Position the "next button" to the right */
.slideshow-container .next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}
  
  /* Caption text */
.slideshow-container .text{
    color: #f2f2f2;
    font-family: "Courgette";
    font-size: 2em;
    padding: 8px 12px;
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    z-index:3;
}
  
  /* The dots/bullets/indicators */
.slideshow-container .dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.slideshow-container .active, .dot:hover{
    background-color: #717171;
}
  
  /* Fading animation */
.slideshow-container .fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}
/* End Slideshow */

/* Start Wave Image */
.wave-image img{
    position:relative;
    max-width:100%;
    margin:0;
    margin-bottom: -10px;
    margin-top: -40px;
    vertical-align: bottom;
    z-index:3;
}
/* End Wave Image */

/* Start How to Order*/
.how-to-order h2{
    padding-top: 40px;
    color:white;
    margin: 0px;
}

.how-to-order{
    position:relative;
    overflow-y: hidden;
    background-color: #23CFA7FF;
}

.row{
    text-align: center;
    font-size:80px;
    color:white;
    padding-bottom: 20px;
}

.row .column{
    display: block;
    padding-top: 30px;
    margin:0;
}

.row .column p{
    font-size: 25px;
    color:black;
    margin:0;
}
/* End How to Order*/


/* Start Our Baker */
.baker-info{
    padding: 28px 28px 40px 28px;
    color: white;
}

.our-baker h2{
    padding: 20px;
    padding-top: 40px;
    color: white;
}

.baker-info p{
    font-size: 20px;
}

.our-baker{
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Assets/images/1.index/CupcakePattern_Darken.jpg");
}
.baker-pic{
    background-image: url("./Assets/images/1.index/Baker.png");
    padding-bottom: 100%;
    background-size: cover;
}

.baker-pic img{
    width:100%;
    overflow: hidden;
    object-position: 100% 0%;
    object-fit: cover;
}

.baker-profile-group{
    background-color: white;
    padding: 0px 0px 10px 0px;
    background-size: contain;
}

.baker-profile-group p{
    text-align: center;
}

.baker-profile-group .name{
    font-size: 20px;
}

.baker-profile-group .description{
    font-size: 20px;
}

.baker-profile-group .hierarchy{
    color: #FF7380FF;
}
/* End Our Baker */


/* Start Locate Us */
.google-map{
    vertical-align: bottom;
}

.location h2{
    color: #FF7380FF;
}
/* End Locate Us */


/* Start Contact Us Form */
.contact-section h2{
    color: white;
}

.contact-us{
    background: #59D4F0FF;
    padding: 0px 40px;
    padding-bottom: 80px;
    border-top: 10px solid #23CFA7FF;
}

.contact-section label, input, textarea {
    display: block;
    width: 100%;
    font-size: 12pt;
    line-height: 24pt;
}
 
.contact-section input {
    margin-bottom: 24pt;
}
  
.contact-section h3 {
    font-weight: normal;
    font-size: 10pt;
    line-height: 24pt;
    font-style: italic;
    margin: 0 0 0.5em 0;
}
  
.contact-section span {
    font-size: 8pt;
}
  
.contact-section em {
    color: #FF7380FF;
    font-weight: bold;
}
  
.contact-section input, textarea {
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background: white;
    padding-left: 5px;
    outline: none;
}
  
.contact-section input:focus, textarea:focus {
    border: 1px solid #FF7380FF;
}
  
.contact-section textarea {
    resize: none;
}

.submit-button{
    padding-top: 20px;
}

.contact-section button {
    display: block;
    line-height: 24pt;
    padding: 0 20px;
    border: none;
    background: #23CFA7FF;
    color: white;
    letter-spacing: 2px;
    transition: 0.2s all ease-in-out;
    border-bottom: 2px solid transparent;
    outline: none;
}

.contact-section button:hover {
    color: #FF7380FF;
    border-bottom: 2px solid #FF7380FF;
}
/* End Contact Us Form */


/* Start Bottom Navbar */
.bottom-nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    background-color:white;
    display: flex;
    overflow-x: auto;
}

.bottom-nav-link{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow:1;
    min-width:50px;
    overflow:hidden;
    white-space: nowrap;
    font-size: 18px;
    color: grey;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.bottom-nav-active{
    color: #FF7380FF;
}

.bottom-nav-icon{
    font-size: 18px;
}

/* End Bottom Navbar */